body{
	background-color: #222;
	font-family: Helvetica;
	font-size: 18px;
}

.big-header{
	color: rgb(108, 68, 153);
	-webkit-text-shadow: 0 -1px #36224C, 0 1px #AD6DF5;
    -moz-text-shadow: 0 -1px #36224C, 0 1px #AD6DF5;
    text-shadow: 0 -1px #36224C, 0 1px #AD6DF5;
    font-size: 2.4em;
}
a{
	color: rgb(232, 12, 122);
}
.content{
	width: 460px;
	height: auto;
	margin: 0 auto;
	color: #f8f8f8;
}

