body{
	background-color: #222;
	font-family: Helvetica;
	font-size: 18px;
    margin: 0;

}

.big-header{
	color: rgb(108, 68, 153);
	-webkit-text-shadow: 0 -1px #36224C, 0 1px #AD6DF5;
    -moz-text-shadow: 0 -1px #36224C, 0 1px #AD6DF5;
    text-shadow: 0 -1px #36224C, 0 1px #AD6DF5;
    font-size: 2.4em;
}
a{
	color: rgb(232, 12, 122);
}
.content{
	width: 560px;
	height: auto;
	margin: 0 auto;
	color: #d8d8d8;
}

li {
    line-height: 1.5em;
    list-style: circle;
}
h2 {
    font-weight: normal;
}


footer {
    background: #555;
    color: #999;
    font-size: 0.8em;
    text-align: center;
    padding: 30px 0;
}

